@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@theme {
    --color-primary: #0274F9;
    --color-light-bg-secondary: #F5FAFF;
    --color-dark-bg-primary: #101828;
    --color-dark-bg-secondary: #152037;
}

*{
    @apply transition-colors duration-300;
    font-family: Poppins;
}

.dark {
    background-color: #101828;
}